---
---

@import "{{ site.theme }}";

#main-content h3::before {
    content: "" !important;
    margin-left: 0 !important;
}

img.stationImage {
    width: 5rem;
    height: auto;
}

td {
    text-align: left;
    text-indent: 0.5rem;
}

caption {
    text-align: left;
    font-weight: bold;
}
