---
---

@import "{{ site.theme }}";

#main-content h3::before {
    content: "" !important;
    margin-left: 0 !important;
}

img.stationImage {
    float: left;
    display: block;
    width: 5rem;
    height: auto;
    max-height: 5rem;
    margin-right: 2rem;
}

div.searchResult {
    width: 100%;
    clear: both;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dddddd;
    min-height: 5rem;
}

div.searchResult p {
    text-indent: 1rem;
}
