---
---

@import "{{ site.theme }}";

input#searchStr {
    width: calc(100% - 0.5rem);
    margin-bottom: 0.25rem;
    border: 1px solid #8f8f9d;
}

input#searchBtn {
    background-color: #2879d0;
    border: 2px solid #2879d0;
    color: white;
    border-radius: 0.25rem;
}

caption {
    text-align: left;
    text-indent: 0.5rem;
    font-weight: bold;
    font-size: large;
}

table {
    margin-bottom: 2rem;
}

td {
    text-align: left;
    text-indent: 0.5rem;
}

td:first-child {
    width: 6rem;
}

img.stationImage {
    width: 5rem;
    height: auto;
}

td > input {
    width: calc(100% - 1.5rem);
}

a#more {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
