---
---

@import "{{ site.theme }}";

div.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.row > * {
    margin-bottom: 0.25rem;
}

input#searchStr {
    border: 1px solid #8f8f9d;
    border-radius: 0.25rem 0 0 0.25rem;
    flex-grow: 1;
    text-indent: 0.25rem;
}

input#searchBtn {
    background-color: #2879d0;
    border: 2px solid #2879d0;
    color: white;
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 0.25rem 0.5rem;
}

div.resultCountRow {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
    text-align: right;
    padding-right: 0.25rem;
}

caption {
    text-align: left;
    text-indent: 0.5rem;
    font-weight: bold;
    font-size: large;
}

table {
    margin-bottom: 2rem;
}

td {
    text-align: left;
    padding: 0.1rem 0.5rem;
}

td:first-child {
    width: 6rem;
}

img.stationImage {
    width: 5rem;
    height: auto;
}

td > input {
    width: calc(100% - 0.25rem);
    border: none;
}
