# This workflow checks the streams with ffprobe

name: checkStreamsError

# Controls when the workflow will run
on:
  #run it daily but wedenesday
  schedule:
  - cron: "6 1 * * 0,1,2,4,5,6"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Install prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends ffmpeg

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      - name: Check streams with errors
        run: ./build.sh check_stream_error_json

      - name: Add, commit and push
        uses: EndBug/add-and-commit@v9.1.4
        with:
          add: docs/db sources trash
          message: Update webradio status file
          push: true
