# This workflow creates the publish files

name: checkDb

# Controls when the workflow will run
on:
  #run it daily
  schedule:
  - cron: "6 6 * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  checks:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Check for duplicates
        run: ./build.sh check_duplicates
